.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  align-items: center;
  gap: 10px;
  border: 2px solid #000; /* рамка навколо форми */
  padding: 20px; /* відступи всередині форми */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* тінь для рамки */
  border-radius: 10px; /* закруглені кути рамки */
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* текст справа */
  gap: 5px;
  width: 100%;
}

.label {
  align-self: flex-start; /* вирівнювання мітки вліво */
  margin-bottom: 5px; /* відступ між міткою і полем */
  width: 300px;
}

.field {
  /* font: inherit;
  padding: 4px;
  width: auto;
  height: 15px; */
  width: 300px; /* однакова ширина для всіх полів введення */
  height: 30px; /* однакова висота для всіх полів введення */
  padding: 10px; /* паддінги всередині полів введення */
  border: 1px solid #ccc; /* рамка для полів введення */
  border-radius: 5px; /* закруглені кути полів введення */
  box-sizing: border-box; /* врахування паддінгу і рамки у розмір */
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  padding: 10px 20px;
  border-color: gray; /* прибрати стандартну рамку кнопки */
  background-color: #ccc; /* колір фону кнопки */
  color: black; /* колір тексту кнопки */
  border-radius: 5px; /* закруглені кути кнопки */
  cursor: pointer; /* зміна курсору при наведенні */
}

.button:hover {
  background-color: #0056b3; /* зміна кольору фону кнопки при наведенні */
  color: white;
}
